form {
  border: 2px solid black;
  padding: 50px 60px 60px 60px;
  border-radius: 40px;
  border-color: indigo;
}

.center {
  margin: auto;
  width: 60%;
}

label:after {
  content: " *";
  color: red;
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #D500F9 !important;
  outline-width: 0;
  font-weight: 400
}

p {
  font-size: 30px;
  color: indigo
}
