<div class="container">
  <div class="table-responsive">
    <div id="title">My Account Details</div>
    <table class="table table-bordered">
      <tr>
        <td>1</td>
        <td>User Id:</td>
        <td>{{user.uId}}</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Name: </td>
        <td>{{user.userName}}</td>
      </tr>
      <tr>
        <td>3</td>
        <td>AccountNumber</td>
        <td>{{user.accountNumber}}</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Gender</td>
        <td>{{ user.gender }}</td>
      </tr>
      <tr>
        <td>5</td>
        <td>DOB</td>
        <td>{{ user.dob }}</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Marital Status</td>
        <td>{{ user.maritalStatus }}</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Guardian Name</td>
        <td>{{ user.guardianName }}</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Citizenship</td>
        <td>{{ user.citizenship }}</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Country</td>
        <td>{{ user.country }}</td>
      </tr>
      <tr>
        <td>10</td>
        <td>State</td>
        <td>{{ user.state }}</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Address</td>
        <td>{{ user.address }}</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Contact No:</td>
        <td>{{ user.contact}}</td>
      </tr>
      <tr>
        <td>13</td>
        <td>Mail Id</td>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <td>14</td>
        <td>Account Type</td>
        <td>{{user.accountType}}</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Branch Name</td>
        <td>{{user.branchName}}</td>
      </tr>
      <tr>
        <td>16</td>
        <td>Identity Proof Type</td>
        <td>{{user.identityProof}}</td>
      </tr>
      <tr>
        <td>17</td>
        <td>Identity Proof Document No.</td>
        <td>{{user.pan}}</td>
      </tr>
      <tr>
        <td>18</td>
        <td>Reference Account Holder Name</td>
        <td>{{user.refName}}</td>
      </tr>
      <tr>
        <td>19</td>
        <td>Reference Account Number</td>
        <td>{{user.refAccountNo}}</td>
      </tr>
      <tr>
        <td>20</td>
        <td>Reference Account Holder Address</td>
        <td>{{user.refAddress}}</td>
      </tr>
    </table>
  </div>
</div>
