<br />
<div class="welcome-text">Welcome {{user.userName}} !</div>
<br />
<br />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <h6 class="m-b-20">Available Balance</h6><br />
          <p class="m-b-0">Account # {{user.accountNumber}}</p>
          <h3 class="text-right"><i class="fa fa-inr"></i>{{user.initDeposit}}</h3>

        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3" (click) ="onViewUser()">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6 class="m-b-20">Accounts</h6><br />
          <p class="text-right"><i class="fa fa-user f-left"></i>View My Account Details</p>
          <br /><br />
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3" (click) ="onUpdateUser()">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h6 class="m-b-20">Update Account</h6><br />
          <p class="text-right"><i class="fa fa-user f-left"></i>Click here to update your account details</p>
          <br /><br />
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3" (click) ="onApplyLoan()">
      <div class="card bg-c-pink order-card">
        <div class="card-block">
          <h6 class="m-b-20">Apply Loan</h6><br />
          <p class="text-right"><i class="fa fa-money f-left"></i>Instant Loan Now at your Finger tips</p>
          <br /><br />
        </div>
      </div>
    </div>
  </div>
</div>


